<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">


</head>
<body class="container">
<header>
    <div class="logo"><a href="home.html">Pomosh`</a></div>
    <div align="center">
        О нас
    </div>
</header>
<nav>
    <ul id="menuNav">
        <li><a href="home.html">Home page</a>
        </li>
        <li><a href="needies.html">Оказать помощь</a></li>
        <li><a href="basket.html">Корзина</a></li>
        <li><a href="aboutus.html">О нас</a></li>

    </ul>
</nav>
<main>
    <div class="content">
        MAIN
    </div>
</main>
<footer>@2021<br>

    <br>Гумманитарная миссия "Pomosh`"<br>

</footer>

<script src="/js/script.js"></script>
</body>
</html>