<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!--ДОДЕЛАТЬ ВСЕ-->
<style type="text/css">
    table {

    display:block;
    margin:auto;
    }
    th, td {
    width:200px;
    text-align:center;
    }
    button {
    padding:10px;
    border: 2px solid orange;
    background-color:orange;
    font-family: Century Gothic;
    }
    main {
        background-color:white;
}



</style>
<main id="basketForm" th:if="not ${selectedNeediesMap == null or selectedNeediesMap.isEmpty()}">
    <table id="productsTableHead" class="table font-class product-table fixed_headers category-tree-content"
           th:fragment="basketForm">
        <thead class="product-table-header">
        <tr class="text-center">
            <th scope="col" width="25%">Option</th>
            <th scope="col" width="25%">Name</th>
            <th scope="col" width="15%">Price</th>
            <th scope="col" width="15%">Count</th>
            <th scope="col" width="20%">Action</th>
        </tr>
        </thead>
    </table>
    <div class="scrollable-content">
        <table id="basketTable" class="table font-class product-table fixed_headers category-tree-content">
            <tbody id="basketTblBody">
            <!--может быть трабл-->
            <tr th:each="selectedItem : ${selectedNeediesMap}">
                <td scope="row" class="text-center" width="25%"><span
                        th:text="${selectedItem.key.option.nameOfOption}"/></td>
                <td scope="row" class="text-center" width="25%"><span th:text="${selectedItem.key.nameNeedy}"/></td>
                <td class="text-center" width="15%"><span
                        th:text="${selectedItem.key.option.price}"/></td>
                <td scope="row" class="text-center" width="15%"><input type="number" min="1" max="100"
                                                                       th:value="${selectedItem.value}"
                                                                       th:onchange="|changeNeediesAmount('${selectedItem.key.needyId}', this)|"/>
                </td>
                <td class="text-center" width="20%">
                    <button class="btn btn-primary btn-xs" type="button"
                            th:onclick="|deleteNeedyFromBasket('${selectedItem.key.needyId}', this)|">Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-right font-class" style="padding:30px;">
        <span>Total price:&nbsp;</span>
        <span id="totalPrice"
              th:text="${#numbers.formatDecimal(totalPrice, 1, 'COMMA', 2, 'POINT')}"/>

        <!--span>User </span><input type="text" width="400px" id="saveUser" >
        <button type="button" >UserName</button>

        <a href="'/registration/'+${donation_user}">
            <button type="button">UserName2</button>
        </a-->


        <a href="/saveOrder">
            <!--посмотреть в скрипте функции для createOrder (submit, validate...)-->
            <button id="createOrder" class="btn btn-primary btn-xs" type="submit">Create Order
            </button>
        </a>
        <a href="/needies">
            <button id="closeBasket" class="btn btn-primary btn-xs" type="button">Close</button>
        </a>
        <span>&nbsp;</span>

    </div>
</main>
<main id="emptyBasket" th:if="${selectedNeediesMap == null or selectedNeediesMap.isEmpty()}">
    <div class="text-center m-auto">
        <h3 style="color: red;">O_ops! The basket is still empty &#9785;</h3>
        <img src="/img/notfound.png">
    </div>

</main>
</html>