<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="otherTags">
    <script src="/webjars/jquery/3.3.1/jquery.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
    <title>POMOSH`</title>
    <!--link rel="stylesheet"
          href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/-->
    <link href="/css/style.css" rel="stylesheet">
</head>
</html>