<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="scrollable-content" th:fragment="userOrdersForm">
    <h2 class="font-class text-center">My Orders</h2>
    <div th:each="userOrder : ${userOrders}">
        <div class="font-class" style="margin-left: 1%;">
            <span th:text="'Order ID: ' + ${userOrder.donationListId}"/>
            <span th:text="'Created date: ' + ${#dates.format(userOrder.createdDate, 'dd-MM-yyyy')}"/>
        </div>
        <table >
            <thead >
            <tr class="text-center">
                <th scope="col" width="25%">Option</th>
                <th scope="col" width="25%">Name</th>
                <th scope="col" width="15%">Price</th>
                <th scope="col" width="15%">Count</th>
            </tr>
            </thead>
            <tbody >
            <tr th:each="needyItem : ${userOrder}">
                <th scope="row" width="15%"><span th:text="${needyItem.key.option.nameOfOption}"/>
                </th>
                <td class="text-center" width="10%"><span th:text="${needyItem.key.nameNeedy}"/></td>
                <td class="text-center" width="15%"><span th:text="${needyItem.key.option.price}"/></td>
                <td class="text-center" width="30%"><span th:text="${needyItem.value}"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>